
.icon-search:before { content: '\e800'; } /* '' */
.icon-home-1:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
